<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container card shadow-lg  text-center justify-content-center align-items-center mt-5" style="width: 100%">
  <div class="card-body">
    <div class="col-md-12 m-5">
      <form method="POST">
        {% csrf_token %} {{ form }}
        <button type="submit" class="btn btn-success btn-block p-3 mt-4">Submit</button>
      </form>
    </div>
  </div>
</div>


